@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
	--color-primary-main: #006AFF;
}

html {
  font-size: 50%;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

*:focus {
	outline: none;
}

body {
  box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
	color: #333;
	margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 58px;
	font-family: 'Times', serif;
	font-weight: bold;
	margin-bottom: 1.8rem;
}

h2 {
  font-size: 38px;
  line-height: 46px;
	font-family: 'Times', serif;
	font-weight: 600;
}

h3 {
	font-family: 'Times', serif;
  font-size: 31px;
  line-height: 37px;
}

h4 {
  font-size: 25px;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
	font-weight: 600;
}

h6 {
	font-weight: 600;
}

.btn {
  padding: 1.5rem 2.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	transition: all .2s ease;
	border-radius: 3px;
}

.btn:focus {
	outline: none;
}

.btn:disabled {
	pointer-events: none;
	border: 1px solid #dedddc;
	color: #dedddc;
	background-color: transparent;
}

.btn-primary {
	background-color: var(--color-primary-main);
	color: white;
}

.btn-primary:hover {
	background-color: #141414;
}

.btn-outline {
	background-color: transparent;
	border-color: rgba(20,20,20,.5);
	color: rgba(20,20,20,.5);
	border: 1px solid rgba(20,20,20,.5) 
}

.btn-outline:hover {
	border-style: solid;
	border-color: #141414;
	color: #141414;
}

.btn-black {
  background-color: black;
  color: white;
}

.link {
	color: var(--color-primary-main);
	transition: all .2 ease;
}

.link:hover {
	color: #141414;
}

li {
	list-style: disc;
	list-style-position: inside;
	padding-left: 1rem;
	transition: all .2s;
}

label {
	font-weight: 600;
	user-select: none;
}

.company {
	transition: all 0.3s ease-out;
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
}

.company:hover {
	transform: translateY(-10px) scale(1.005) translateZ(0);
	box-shadow: 0 24px 36px rgba(59, 89, 152, .3);
}

.company__description {
	opacity: 0;
	transition: all .3s;
}

.company:hover + .company__description {
	transform: translateY(10px);
	opacity: 1;	
}
